.signature {
  float: right;
  margin-top: 85px;
}

.carousel {
  margin-top: 9%;
}
.carousel .carousel-control-next-icon {
  width: 20%;
  height: 20%;
}
.carousel .carousel-control-prev-icon {
  width: 20%;
  height: 20%;
}

@media only screen and (max-width: 1400px) {
  .about .about-img {
    height: 571px;
    margin-top: 18%;
  }
}
.office-image {
  background: url(../img/Receptionroominclinic.png) no-repeat center;
  background-size: contain;
  width: 100%;
  height: 703px;
}

.grey-square {
  width: 31%;
  background-color: #7CA0C0;
  color: white;
  position: absolute;
  margin-top: 13%;
  text-transform: uppercase;
}
.grey-square .offer {
  font-size: 1.5em;
}
.grey-square .texts {
  margin-left: 10px;
}

.reception .office-img {
  width: 600px;
  height: 700px;
}

.contact-form {
  margin-top: 3%;
}
.contact-form .form-group .form-control {
  background-color: #EBEBEB;
  color: black;
}
.contact-form .send-btn {
  margin-top: 3%;
  width: 20%;
  color: #fff;
  background-color: #7CA0C0;
  border-color: #7CA0C0;
}
.contact-form .contact-title {
  font-size: 25px;
  font-weight: bold;
}
.contact-form .contact-text {
  font-size: 19px;
}

.selected-patient {
  background-color: #7CA0C0;
  color: #fff;
}

.patient-option {
  width: 20em;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  border: 1px solid lightgray;
  padding: 4px 0;
  border-radius: 10px;
}
.patient-option p {
  margin-top: 20px;
}

.header-bg {
  background: url(../img/faq.png) no-repeat center;
  background-size: contain;
  width: 100%;
  height: 703px;
}

.virtual-tour {
  position: relative;
  padding-bottom: 40%;
  /*16:9*/
  height: 0;
  overflow: hidden;
}
.virtual-tour iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact-form {
  margin-top: 20px;
}

.faq-greysquare {
  top: 47%;
  width: 31%;
  background-color: #7CA0C0;
  color: white;
  position: absolute;
  text-transform: uppercase;
  padding-left: 10px;
}

.question-section {
  margin-top: -11%;
}

.question-block {
  background-color: lightgray;
  padding: 8px 0;
  text-align: center;
  margin: 10px;
}
.search-form {
  position: relative;
  margin-bottom: 15px;
}
.search-form .search-icon {
  position: absolute;
  right: 13px;
  top: 11px;
  width: 25px;
  height: 25px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.content {
  margin: 0 auto;
  width: 80%;
}

.bg-light {
  min-height: 100vh;
  background: url("../img/bg-light.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 40%;
}

.bg-pink {
  min-height: 100vh;
  background: url("../img/bg-pink&grey.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 40%;
  padding-bottom: 10%;
}

.bg-grey {
  min-height: 100vh;
  background: url("../img/bg-grey.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 40%;
}

.bg-about_block {
  background-color: #ECFDFF;
}

.bg-reception_block {
  background-color: #f6ddd6;
}

.bg-services_block {
  background-color: #a9ecf1;
}

.page-logo {
  width: 233px;
  height: 190px;
  cursor: pointer;
}

.nav-link {
  font-size: 20px;
  color: black;
  text-transform: uppercase;
}

.main-content .main-image {
  background: url(../img/Oakton-Banner.png) no-repeat center;
  background-size: contain;
  width: 100%;
  height: 703px;
}
.main-content .text-square {
  width: 40%;
  height: 334px;
  background-color: #7CA0C0;
  color: white;
  position: absolute;
  margin-top: 10%;
  text-transform: uppercase;
}
.main-content .text-square .texts {
  margin: 0 auto;
  width: 74%;
  margin-top: 41px;
}
.main-content .text-square .dr-name {
  font-size: 22px;
}
.main-content .text-square .offer {
  font-size: 1.5em;
}

.about .about-text {
  width: 64%;
  float: right;
}
.about .about-text .about-title {
  font-size: 50px;
}
.about .about-text .text {
  font-size: 21px;
}
.about .about-img {
  width: 74%;
  height: 90%;
}

.reception .check {
  width: 20px;
  height: 20px;
  margin-right: 25px;
}
.reception .reception-title {
  font-size: 50px;
  margin-top: 10%;
}
.reception .check-text {
  font-size: 19px;
}

.services img {
  width: 100%;
  height: 350px;
}
.services-title {
  font-size: 40px;
  text-align: center;
}
.services .more-serivces {
  text-align: center;
  margin-left: 45%;
  margin-top: 82px;
}
.services .image-container {
  text-align: center;
  position: relative;
}
.services .image-container .image-title {
  font-size: 30px;
  padding-top: 59%;
}
.services .image-container .coronos-title {
  line-height: 1;
}
.services .image-container .image-text {
  font-size: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.book {
  margin-top: 50%;
}
.book .book-block {
  background-color: #7CA0C0;
}
.book .book-img {
  width: 45%;
  height: 511px;
}
.book .book-online {
  width: 44.92%;
  height: 511px;
  color: white;
}
.book .book-online .book-text {
  margin-left: 10%;
  margin-top: 10%;
}
.book .book-online .book-register {
  font-size: 54px;
  width: 71%;
}

.logo {
  margin-top: 48px;
}
.logo .logo-img {
  width: 100%;
  height: 100%;
}

.footer .logo-block {
  text-align: center;
}
.footer-logo {
  width: 139px;
  height: 139px;
}
.footer-text {
  width: 17%;
  font-size: 22px;
}
.footer-largetext {
  font-size: 22px;
}
.footer-smalltext {
  font-size: 20px;
  font-weight: 600;
}
.footer .rights {
  font-size: 15px;
  color: grey;
  margin-left: 5%;
}

.apicetomies {
  background: url("../img/1.png") no-repeat center;
  height: 350px;
}

.resins {
  background: url("../img/2.png") no-repeat center;
  height: 350px;
}

.cleaning {
  background: url("../img/3.png") no-repeat center;
  height: 350px;
}

.coronas {
  background: url("../img/4.png") no-repeat center;
  height: 350px;
}

.active-link {
  border-bottom: 2px solid #007bff;
  padding: 10px 0;
}

.appointment {
  font-size: 20px;
  width: 290px;
  background-color: #fff;
  color: #7CA0C0;
  text-align: center;
  padding: 15px 0;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

@media screen and (min-width: 1920px) {
  .office-image {
    background: url(../img/Receptionroominclinic.png) no-repeat right;
  }

  .main-content .main-image {
    background: url(../img/Oakton-Banner.png) no-repeat right;
  }
}
@media screen and (max-width: 1800px) {
  .office-image {
    margin-top: -8%;
  }

  .main-content .main-image {
    margin-top: -2%;
  }

  .about-home {
    margin-top: -2%;
  }
}
@media screen and (max-width: 1500px) {
  .office-image {
    margin-top: -16%;
  }

  .grey-square {
    margin-top: 25%;
  }

  .reception-office {
    margin-top: -14%;
  }

  .reception .office-reception {
    width: 500px;
    height: 600px;
  }
  .reception .reception-img {
    width: 95%;
  }

  .about-home {
    margin-top: -6%;
  }

  .about .about-img {
    width: 88%;
    height: 86%;
  }
  .about .about-text {
    width: 100%;
  }

  .main-content .main-image {
    margin-top: -6%;
  }
}
@media all and (max-width: 1400px) {
  .main-content .main-image {
    margin-top: -9%;
  }

  .about-home {
    margin-top: -8%;
  }

  .about .about-img {
    margin-top: 5%;
  }

  .bg-light {
    margin-top: -10%;
  }
}
@media only screen and (max-width: 1338px) {
  .main-content .text-square {
    width: 50%;
    margin-top: 16%;
    font-size: 1em;
  }
}
@media all and (max-width: 1024px) {
  .office-image {
    margin-top: -25%;
  }

  .grey-square .offer {
    font-size: 20px;
  }

  .main-content {
    margin-top: -20%;
  }
  .main-content .appointment {
    font-size: 12px;
    width: 69%;
    padding: 10px 0;
  }

  .main-image .text-square {
    width: 55%;
    margin-top: 27%;
    font-size: 0.7em;
    height: 212px;
  }
  .main-image .text-square .appointment {
    font-size: 1.2em;
    width: 186px;
    padding: 9px 0;
  }

  .about-home {
    margin-top: -20%;
  }

  .about .about-img {
    height: 67%;
    width: 88%;
  }
  .about .about-text {
    width: 90%;
  }

  .reception-office {
    margin-top: -26%;
  }

  .reception .reception-title {
    font-size: 45px;
  }
  .reception .check-text {
    font-size: 17px;
  }

  .services .image-container .image-title {
    font-size: 27px;
    padding-top: 85%;
  }

  .bg-light {
    margin-top: -18%;
  }
}
@media all and (max-width: 800px) {
  .office-image {
    margin-top: -35%;
  }

  .grey-square {
    margin-top: 35%;
  }

  .book .book-online .book-register {
    font-size: 40px;
  }

  .about-home {
    margin-top: -26%;
  }

  .about .about-title {
    font-size: 35px;
  }
  .about .about-text {
    font-size: 18px;
  }

  .services .image-container .image-title {
    font-size: 21px;
    padding-top: 107%;
  }
  .services .image-container .image-text {
    font-size: 13px;
  }

  .reception-office {
    margin-top: -37%;
  }

  .header-bg {
    height: 580px;
  }

  .bg-light {
    margin-top: -26%;
  }
}
@media all and (max-width: 768px) {
  .office-image {
    margin-top: -38%;
  }

  .grey-square {
    margin-top: 37%;
  }

  .about-home {
    margin-top: -28%;
  }

  .main-content .main-image {
    margin-top: -28%;
  }

  .book .book-online {
    width: 43%;
  }
  .book .book-online .book-register {
    font-size: 35px;
  }

  .appointment {
    width: 208px;
    padding: 10px 0;
  }

  .reception .reception-title {
    font-size: 36px;
  }
  .reception .reception-img {
    width: 100%;
    height: 89%;
  }
}
@media all and (max-width: 600px) {
  .appointment {
    font-size: 1.2em;
    width: 186px;
    padding: 9px 0;
  }

  .main-content .main-image {
    margin-top: -42%;
  }
  .main-content .main-image .text-square {
    width: 63%;
    margin-top: 47%;
    font-size: 0.6em;
    height: 161px;
  }
  .main-content .main-image .text-square .texts {
    margin-top: 7px;
  }

  .about-home {
    margin-top: -46%;
  }

  .about .about-title {
    font-size: 35px;
  }
  .about .about-text {
    font-size: 18px;
  }
  .about .about-img {
    width: 371px;
    height: 414px;
  }
  .about about-img-top {
    margin-top: -39%;
  }

  .office-image {
    margin-top: -53%;
  }

  .grey-square {
    margin-top: 51%;
  }
  .grey-square .offer {
    font-size: 13px;
  }

  .book .book-img {
    height: 361px;
  }
  .book .book-online {
    height: 361px;
  }
  .book .book-register {
    font-size: 37px;
  }

  .services .image-container .image-title {
    padding-top: 151px;
  }
  .services .image-container .image-text {
    width: 58%;
    text-align: center;
    margin-left: 104px;
  }

  .reception-office {
    margin-top: -54%;
  }

  .header-bg {
    height: 536px;
  }

  .faq-greysquare {
    top: 40%;
    width: 43%;
  }

  .bg-light {
    margin-top: -35%;
  }
}
@media all and (max-width: 414px) {
  .main-content .main-image {
    margin-top: -68%;
  }

  .about-home {
    margin-top: -68%;
  }

  .office-image {
    margin-top: -78%;
  }

  .grey-square {
    margin-top: 75%;
    width: 51%;
  }

  page-logo {
    width: 150px;
    height: 150px;
  }

  .book .book-img {
    margin-left: 5%;
  }
  .book .book-online .book-register {
    font-size: 20px;
  }

  .appointment {
    width: 158px;
  }

  .services .image-container .image-text {
    margin-left: 76px;
  }

  reception-office {
    margin-top: -85%;
  }

  .reception .reception-img {
    width: 300px;
    height: 300px;
  }

  .faq-greysquare {
    width: 62%;
  }

  .question-section {
    margin-top: -61%;
  }

  .bg-light {
    margin-top: -38%;
  }
}
@media all and (max-width: 360px) {
  .about-home {
    margin-top: -80%;
  }

  .main-content .main-image {
    margin-top: -80%;
  }

  .about .about-img {
    width: 300px;
    height: 300px;
  }

  .bg-light {
    margin-top: -40%;
  }
}
@media all and (max-width: 330px) {
  .main-content .main-image .text-square {
    height: 178px;
  }
  .main-content .main-image .text-square .offer {
    font-size: 1em;
  }
  .main-content .main-image .text-square .appointment {
    width: 151px;
  }

  .office-image {
    margin-top: -100%;
  }

  .grey-square {
    margin-top: 100%;
    width: 54%;
  }
  .grey-square .offer {
    font-size: 11px;
  }

  .book .book-img {
    margin-left: 0;
  }
  .book .book-online {
    width: 50%;
  }
  .book .book-online .book-register {
    font-size: 24px;
  }
  .book .bg-light {
    margin-top: -38%;
  }

  .services .image-container .image-text {
    margin-left: 58px;
  }

  .reception-office {
    margin-top: -100%;
  }

  .reception .reception-img {
    width: 250px;
    height: 250px;
  }
  .reception .reception-title {
    font-size: 37px;
  }

  .question-section {
    margin-top: -80%;
  }

  .texts {
    font-size: 12px;
  }

  .page-logo {
    width: 200px;
    height: 164px;
  }

  .bg-light {
    margin-top: -48%;
  }
}

/*# sourceMappingURL=main.css.map */
