@import "bio";
@import "office";
@import "faq";

body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.content {
    margin: 0 auto;
    width: 80%;
}
.bg-light {
    min-height: 100vh;
    background: url("../img/bg-light.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
 //   padding-bottom:50%;
    padding-top:40%;
}

.bg-pink {
    min-height: 100vh;
    background: url("../img/bg-pink&grey.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 40% ;
    padding-bottom: 10%;
}

.bg-grey {
    min-height: 100vh;
    background: url("../img/bg-grey.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 40% ;
}


.bg-about_block {
    background-color: #ECFDFF;
}
.bg-reception_block {
    background-color: #f6ddd6;
 //   margin-top: 45%;
}
.bg-services_block {
    background-color: #a9ecf1;
}



// color light pink  #f6ddd6;
//color light blue #d2dfe8;
//color middle blue #a9ecf1;
//color light yellow #ffffd2;
//color light green #A5D6CD;
//color water blue #6AC1CA
//color blue like a white #ECFDFF
.page-logo {
    width: 233px;
    height: 190px;
    cursor: pointer;
}
.nav {
   
    &-link {
        font-size: 20px;
        color: black;
        text-transform: uppercase;
    }
}

.main-content {

    .main-image {
        background: url(../img/Oakton-Banner.png) no-repeat center;
        background-size: contain;
        width: 100%;
        height: 703px;
    }

    .text-square {
      width: 40%;
      height: 334px;
      background-color:#7CA0C0;
      color: white;
      position: absolute;
      margin-top: 10%;
      text-transform: uppercase;

      .texts {
          margin: 0 auto;
          width: 74%;
          margin-top: 41px;
        
      }

      .dr-name {
          font-size: 22px;

      }

      .offer {
          font-size: 1.5em;

      }
    }
}

.about {



        .about-text {
            width: 64%;
            float: right;

            .about-title {
                font-size: 50px;
            }

            .text {
                font-size: 21px;
            }
        }

    .about-img {
        width: 74%;
        height: 90%;
    }


}

.reception {

    .check {
        width: 20px;
        height: 20px;
        margin-right: 25px;
    }

    .reception-title {
        font-size: 50px;
        margin-top: 10%;
    }

    .check-text {
        font-size: 19px;
    }

}

.services {

    img {
        width: 100%;
        height: 350px;
    }

    &-title {
        font-size: 40px;
        text-align: center;
    }

    .more-serivces {
        text-align: center;  
        margin-left: 45%;
        margin-top: 82px;
    }


    .image-container {
        text-align: center;
        position: relative;

        .image-title {
            font-size: 30px;
            padding-top: 59%;
        }
        .coronos-title {
            line-height: 1;
        }

        .image-text {
            font-size: 15px;
            padding-left: 15px;
            padding-right: 15px;
        }
    }

}




.book {
    margin-top: 50%;

    .book-block {
        background-color: #7CA0C0;
    }
    
    .book-img {
      width: 45%;
      height: 511px;
     // margin-left: 10%;
    }

    .book-online {
        width: 44.92%;
        height: 511px;
        color: white;

        .book-text {
           margin-left: 10%;
           margin-top: 10%;
        }

        .book-register{
          font-size: 54px;
           width: 71%;
        }
    }
}

.logo {
    margin-top: 48px;

    .logo-img {
        width: 100%;
        height: 100%;
    }
}

.footer {
    .logo-block {
        text-align: center;
    }
    &-logo {
        width: 139px;
        height: 139px;

    }


    &-text {
        width: 17%;
        font-size: 22px;
    }
    &-largetext {
        font-size: 22px;

    }
    &-smalltext {
        font-size: 20px;
        font-weight: 600;

    }

    .rights {
        font-size: 15px;
        color: grey;
        margin-left: 5%;
    }
}

.apicetomies{

    background: url("../img/1.png") no-repeat center;
    height: 350px;
}

.resins {
    background: url("../img/2.png") no-repeat center;
    height: 350px;
}



.cleaning {
    background: url("../img/3.png") no-repeat center;
    height: 350px;
}

.coronas {
    background: url("../img/4.png") no-repeat center;
    height: 350px;
}

.active-link {
    border-bottom: 2px solid #007bff;
    padding: 10px 0;
}

.appointment {
    font-size: 20px;
    width: 290px;
    background-color: #fff;
    color: #7CA0C0;
    text-align:  center;
    padding: 15px 0;
}


.navbar-light {

    .navbar-nav {

        .nav-link {
            color: black;
        }
    }
}

@import "media";


